/* ... */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

body::before, body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50px;
  animation: changeBackground 16s infinite;

}

body::before {
  background-image: url(img/img8.png);
  animation-delay: 0s;
}

body::after {
  background-image: url(img/img10.png); /* Reemplaza esto con la URL de tu segunda imagen */
  animation-delay: 7s;
}


@keyframes changeBackground {
  0%, 46.875% {
    opacity: 1;
  }
  53.125%, 100% {
    opacity: 0;
  }
}





/* ... */





header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  align-items: center;
  padding-left: 20px; /* Agrega un poco de padding al lado izquierdo */
}

nav ul li {
  margin: 0 20px; /* Aumenta la separación horizontal */
}

nav ul li a {
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 20px; /* Agrega separación adicional entre elementos */
}

nav ul li a:hover {
  background-color: #00c5cd;
}
.btn {
    background-color: #00c5cd;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    border-radius: 15px;
}

.btn:hover {
    background-color: #22a7af;
    transform: translate(-50%, -50%) scale(1.5);
}
.btn {
    /* estilos anteriores */
    top: calc(57% + 250px);
    left: calc(20% + 20px);
}
@media screen and (max-width: 768px) {
    /* Estilos para pantallas más pequeñas */
    .logo img {
      height: 40px;
    }
  
    nav ul li {
      margin: 0 5px;
    }
  
    nav ul li a {
      font-size: 16px;
      padding: 10px;
    }
  
    .btn {
      font-size: 14px;
      padding: 8px 16px;
    }
    .btn {
        /* estilos anteriores */
        border-radius: 20px;
    }
    
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li a {
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
nav ul li:not(:last-child) {
    margin-right: 10px;
}
nav ul {
  /* Estilos anteriores */
  position: relative;
}

.nav-link {
  /* Nuevos estilos */
  color: white;
  position: relative;
  z-index: 1;
}

.nav-link::before {
  /* Nuevos estilos */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: -1;
}

.nav-link:hover::before {
  /* Nuevos estilos */
  transform: scale(1);
  opacity: 1;
}

.nav-link:active {
  /* Nuevos estilos */
  transform: scale(1.2);
}
nav ul li a:hover {
  background-color: #00c5cd;
  transform: scale(1.1);
}

h1 {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  nav ul li {
    margin: 0 5px;
  }

  nav ul li a {
    font-size: 16px;
    padding: 10px;
  }
}



  


  
  
    





